*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.menu-item{
    display: none;
}

.row{
    display: flex;
}

.col{
    display: flex;
    flex-direction: column;
}

.logo-box img{
    padding: 1em;
}

.menu-box{
    padding: 1em;
}

.panel-container{
    width: 80%;
    margin: 0 auto;
}

.first-panel-button{
    margin-top: 3vh;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 3px;
}

.lilac-panel-container{
    width: 100%;
    margin: 0 auto;
}

.planning1{
    width:100%;
}
